<h1><%= t('.title') %></h1>

<div class="categories scroll-wrapper">
  <ul>
    <% @categories.where(parent_id: nil).each do |i| %>
      <li class="category"><%= build_tree(i) %></li>
    <% end %>
  </ul>
</div>
